<main role="main" class="container"></main>
    <div class="row">
      <input style="margin: auto; margin-top: 10%;" type="button" value="Send toast" class = "btn btn-success" onclick="showToast('Mi mensaje');">
    </div>
    <div class="row">
      <input style="margin: auto; margin-top: 10%;" type="button" value="Send message to server" class = "btn btn-success" onclick="messageToServer('Mensaje desde el cliente');">
    </div>
    <div class="form-label-group" style="width: 50%; margin: auto; text-align: center;">
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Nombre">
        <label for="inputName">Nombre</label>
    </div>
    <div class="form-label-group" style="width: 50%; margin: auto; text-align: center;">
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Color">
        <label for="inputName">Color</label>
    </div>
    <div class="form-label-group" style="width: 50%; margin: auto; text-align: center;">
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Fruto">
        <label for="inputName"  style="text-align: center;">Fruto</label>
    </div>

    <div class="row">
        <input style="margin: auto;" type="button" value="Enviar palabras" class = "btn btn-success" onclick="messageToServer('Mensaje desde el cliente');">
    </div>
</main>
<!-- MAIN
<main role="main" class="container">
  <div class="row">
      <input style="margin: auto; margin-top: 10%;" type="button" value="Send toast" class = "btn btn-success" onclick="showToast('Mi mensaje');">
  </div>
  <div class="row">
      <input style="margin: auto; margin-top: 10%;" type="button" value="Send message to server" class = "btn btn-success" onclick="messageToServer('Mensaje desde el cliente');">
  </div>
<div class="row">
      <a style="margin: auto; margin-top: 10%;" class = "btn btn-success"  href="/game/basta">Empezar juego</a>
</div>
</main>
-->